<footer class="footer-container">
  <article class="footer-header-wrapper">
    <img
      src="assets/logos/squaregoods.png"
      alt="Square Goods logo"
      class="footer-logo"
    />
    <address class="footer-address">
      123 Fake Street, San Diego, CA 92021
    </address>
    <p class="footer-phone">619-555-1234</p>
    <img
      src="assets/logos/squarecharonly.png"
      alt="logo character"
      class="character-logo"
    />
  </article>
  <section class="footer-links-wrapper">
    <ul class="nav-links-wrapper">
      <li class="nav-link">Shop All</li>
      <li class="nav-link">Contact</li>
      <li class="nav-link">FAQ</li>
      <li class="nav-link">Log In</li>
    </ul>
    <ul class="info-links-wrapper">
      <li class="info-link">Terms & Conditions</li>
      <li class="info-link">Shipping & Returns</li>
      <li class="info-link">Payment Methods</li>
    </ul>
    <ul class="sns-link-wrapper">
      <li class="sns-link"><i class="fab fa-facebook-f"></i></li>
      <li class="sns-link"><i class="fab fa-instagram"></i></li>
      <li class="sns-link"><i class="fab fa-youtube"></i></li>
      <li class="sns-link"><i class="fab fa-pinterest-p"></i></li>
      <li class="sns-link"><i class="fab fa-tiktok"></i></li>
    </ul>
  </section>
  <div class="copyright-wrapper">
    <p class="copyright">&copy; 2022 by Square Goods. All rights reserved.</p>
  </div>
</footer>
