<section class="contact-container">
  <img
    src="assets/logos/squarecharonly.png"
    alt="square goods character"
    class="character-logo"
  />
  <div class="contact-header-wrapper">
    <h2 class="need-help-text">Need help with something?</h2>
    <h4 class="here-to-help-text">We are here to help!</h4>
    <p class="available-hrs-text">Monday - Sunday: 5:00am - 9:00pm(PST)</p>
  </div>
  <section class="contact-boxes-wrapper">
    <article class="contact-box chat-box">
      <i class="fa-regular fa-message contact-icon"></i>
      <p class="box-info">Start a live chat</p>
      <button class="box-btn">Live Chat</button>
    </article>
    <article class="contact-box message-box">
      <i class="fa-regular fa-envelope contact-icon"></i>
      <p class="box-info">Send us a message</p>
      <button class="box-btn">Send Message</button>
    </article>
    <article class="contact-box call-box">
      <i class="fa-solid fa-phone contact-icon"></i>
      <p class="box-info">Give us a call</p>
      <button class="box-btn">Call Us</button>
    </article>
  </section>
</section>
