<section class="about-container">
  <header class="about-header-wrapper">
    <img
      src="assets/logos/squaregoods.png"
      alt="Square Goods logo"
      class="header-img"
    />
    <h1 class="header-title">About</h1>
    <p class="header-intro">
      {{ introText }}
    </p>
  </header>
  <section class="about-img-wrapper">
    <img
      src="assets/about/clothes.jpg"
      alt="clothing rack"
      class="about-img visible-img"
    />
    <img
      src="assets/about/computer.jpg"
      alt="computer"
      class="about-img extra-img"
    />
    <img
      src="assets/about/electronicsB.jpg"
      alt="elctronics"
      class="about-img extra-img"
    />
    <img
      src="assets/about/jewelryB.jpg"
      alt="jewelry"
      class="about-img extra-img"
    />
    <img
      src="assets/about/shoesB.jpg"
      alt="shoes"
      class="about-img extra-img"
    />
    <div class="extra-img-wrapper">
      <img
        src="assets/logos/squarelogo.png"
        alt="Square Goods logo"
        class="about-img extra-img"
      />
    </div>
  </section>
  <div class="bottom-info-wrapper">
    <p class="bottom-info">We support local businesses</p>
    <p class="bottom-info">All products are quality assured</p>
    <p class="bottom-info">Mother Earth is a top priority</p>
  </div>
</section>
