<section class="component-container">
  <div class="hero-container">
    <img
      src="assets/logos/squaregoods.png"
      alt="square goods logo"
      class="goods-logo figure-img item1"
    />
    <figure class="figure-wrapper shoes-wrapper item2">
      <img
        src="assets/hero/shoes.jpg"
        alt="shoes image"
        class="figure-img shoes-img"
      />
      <figcaption>
        <button type="button" class="see-more-btn">See Shoes</button>
      </figcaption>
    </figure>
    <figure class="figure-wrapper jewelry-wrapper item3">
      <img
        src="assets/hero/jewelry.jpg"
        alt="jewelry image"
        class="figure-img jewelry-img"
      />
      <figcaption>
        <button type="button" class="see-more-btn">See Jewelry</button>
      </figcaption>
    </figure>
    <img
      src="assets/logos/squaregoods.png"
      alt="square goods logo"
      class="goods-logo figure-img item4"
    />
    <img
      src="assets/logos/squaregoods.png"
      alt="square goods logo"
      class="goods-logo figure-img item5"
    />
    <figure class="figure-wrapper clothings-wrapper item6">
      <img
        src="assets/hero/clothes.jpg"
        alt="clothes image"
        class="figure-img clothings-img item6"
      />
      <figcaption>
        <button type="button" class="see-more-btn">See Clothes</button>
      </figcaption>
    </figure>
    <figure class="figure-wrapper electronics-wrapper item7">
      <img
        src="assets/hero/electronics.jpg"
        alt="electronics image"
        class="figure-img electronics-img"
      />
      <figcaption>
        <button type="button" class="see-more-btn">See Electronics</button>
      </figcaption>
    </figure>
    <img
      src="assets/logos/squaregoods.png"
      alt="square goods logo"
      class="goods-logo figure-img item8"
    />
  </div>
  <div class="hero-tagline-wrapper">
    <img
      src="assets/logos/squarecharonly.png"
      alt="square goods charactar"
      height="100px"
    />
    <p class="hero-tagline">Everything you could possibly need in one place.</p>
    <button class="tagline-btn">See Products</button>
  </div>
</section>
