<nav class="component-container">
  <div class="store-header-wrapper">
    <img
      src="assets/logos/squarelogo.png"
      alt="store logo"
      class="store-logo"
    />
    <p class="store-tagline">
      "Be here & be square! Square Goods, where it is hip to be square!"
    </p>
  </div>
  <ul class="nav-links-wrapper">
    <li class="navlink">Home</li>
    <li class="navlink">Products</li>
    <li class="navlink">About</li>
    <li class="navlink">Contact</li>
    <li class="navlink"><i class="fas fa-user"></i>Login</li>
  </ul>
  <div class="search-cart-wrapper">
    <form class="search-form">
      <!-- <label for="search">Search for stuff</label> -->
      <input placeholder="Search Products" class="search-input" />
      <button type="submit" class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </form>
    <button class="cart-btn"><i class="fas fa-shopping-cart"></i></button>
  </div>
</nav>
