/************************************************************
Project Variables
************************************************************/
// Colors
$color-primary-teal: #4793af;
$color-secondary-orange: #fc8c42;
$color-tan: #ffc470;
$color-red-orange: #8b322c;
$color-dark: #0d1f39;
$color-light: #f9f9f9;

// radius
$radius-xxs: 5px;

// Spacing
$spacing-xxs: 5px;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 3rem;

// Fonts
$font-quicksand: "Quicksand";

// Font Sizes
$font-size-xs: 0.8rem;
$font-size-sm: 1rem;
$font-size-md: 1.4rem;
$font-size-lg: 2rem;

// Letter Spacing
$letter-space-xs: 2px;

// Mixins
@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-row-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
